header {
    display: flex;
    justify-content: space-between;
    margin: 0px 45px;
}
.header___logo-box {
    display: flex;
    gap: 7px;
    img {
        width: 17px;
        height: 17px;
        margin-top: 17px;
        
    }
    p {
        font-weight: 700;
    }
}
.header___hrefs-menu {
    display: flex;
    gap: 20px;
    font-family: "Barlow", sans-serif;
    a {
        text-decoration: none;
        margin-top: 20px;
        font-weight: 700;
        font-size: 11px;
        color: var(--color-grey-88);
    }

}