//- foooter plans
footer 
    div.footer___logo-box 
        img(src="../../assets/imgs/Combined Shape.png", alt="cofee logo")
        p coffeeroasters
    div.footer___hrefs-menu 
        a(href="./Home.html") HOME
        a(href="./AboutUs.html") ABOUT US
        a(href="./Plan.html") Create your plan
    div.footer___sharing 
        img(src="../../assets/imgs/Group 20.png", alt="telegram and pltaforms img")    