//- header plans
header 
    div.header___logo-box 
        img(src="../../assets/imgs/Combined Shape.png", alt="logo png (img)")
        p coffeeroasters
    div.header___hrefs-menu 
        a(href="./Home.html") HOME
        a(href="./AboutUs.html") ABOUT US
        a(href="./Plan.html") Create your plan