:root {
    --color-green: #0E8784;
    --color-white: #ffffff;
    --color-pink: #FDD6BA;
    --color-grey-88: #83888F;
    --color-pink-white: #FEFCF7;
    --color-texts-grey: #333D4B;
    --color-backround-grey: #282F38;
    --footer-backround: #2C343E;

}